.vm--container {
	z-index: 9999; /* Fix z-index in WP Admin */
}
.static_maps_editor-editor-iframe {
	width: 100%;
	height: calc(100vh - 32px);
}
#wpcontent {
	padding-left: 0;
}
#wpbody-content {
	padding-bottom: 0;
}
#wpfooter {
	display: none;
}
